<div class="row">
    <div class="col-sm-6 col-md-4 offset-md-4 offset-sm-3">
        <div id="success" class="alert alert-success {{#if noMessage}}d-none{{/if}}" role="alert" >
            {{successMsg}}
        </div>
    </div>
</div>

{{#each products }}
    <div class="row">
        {{#each this}}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail border">
                    <img src={{this.imagePath}} alt="Gothic game" class="img-thumbnail img-responsive">
                    <div class="caption">
                        <h4>{{this.title}}</h4>
                        <p class="description">{{this.description}}</p>
                        <div class="purchase clearfix">
                            <div class="price float-left">${{this.price}}</div>
                            <p><a href="/add-to-cart/{{this._id}}" class="btn btn-success float-right" role="button">Add to Shopping cart</a></p>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
{{/each}}
